/* You can add global styles to this file, and also import other style files */
* {
    background-color: rgb(18, 18, 75);
    color: rgb(194, 173, 204);
    font-family: roboto;
    text-align: center;
}